:root {
  --light-blue: #31c3bd;
  --light-blue-hover: #65e9e4;
  --shadow-blue: #118c87;

  --light-yellow: #f2b137;
  --light-yellow-hover: #ffc860;
  --shadow-yellow: #cc8b13;

  --silver: #a8bfc9;
  --silver-hover: #dbe8ed;
  --shadow-silver: #6b8997;

  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --shadow-dark-navy: #10212a;

  font-family: "Outfit Variable";
  line-height: 1.5;
  font-weight: 400;

  color: var(--dark-navy);
  background-color: var(--dark-navy);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
